@charset "UTF-8";

body{
  font-size: 2rem;
  background-color: lightgray;
}

#intro #servicos{
  color: darkorchid;
}

.titulo{
  color: coral;
  padding: 5px;
}

#produtos{
 color: brown; 
}

html body section h2{
  border-left: 5px solid;
}

h2{
  color: black !important;
  border-left: 6px solid palevioletred !important;
}